.button{
    padding: 10px 25px;
    border-radius: 8px;
    font-size: 20px;
    // user-select: none;
}

.button:hover{
    opacity: .8;
}

.landingPage{
    background: url("../images/landing-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.blackCover{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.678);
}

.bio{
    -webkit-line-clamp:3;
}

.experience, .education{
    min-height: 300px;
}

@media (max-width:1000px) {

    .profileCard{
        flex-direction: column;
        align-items: center;
}

.skillList{
    margin-top: 18px;
    flex-direction: row;
    }
}